node_modules/
.pnp/
.pnp.js

.expo/
dist/
web-build/
expo-env.d.ts

coverage/

build/
android/app/build/
ios/build/

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.ipa

.metro-health-check*
.metro

npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

.env
.env*.local
.env.development
.env.test
.env.production

*.tsbuildinfo

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
*.iml
.gradle/
local.properties
captures/
.cxx/
*.hprof

ios/*.xcodeproj/*
!ios/*.xcodeproj/project.pbxproj
!ios/*.xcodeproj/xcshareddata/
!ios/*.xcworkspace/contents.xcworkspacedata
**/ios/.xcode.env.local

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pem

*.swp
*.swo
*.tmp
*.bak

*.jsbundle
*.map

ios/Pods/
ios/Podfile.lock

android/app/debug/
android/app/release/
android/app/*.keystore
android/keystores/
android/gradlew
android/gradlew.bat
android/local.properties
android/*/build/
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.meta
